In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('student_data_with_performanceNEW.csv')

# Understanding the dataset ðŸ“„

In [7]:
print("First 5 Rows:\n")
df.head()

First 5 Rows:

   StudentID  Gender  Age  StudyHoursPerWeek  AttendanceRate   GPA      Major
0          1    Male   24                 37           90.75  3.47       Arts
1          2  Female   22                 37           74.90  2.32  Education
2          3    Male   22                 10           53.36  2.38   Business
3          4    Male   24                 10           70.26  3.46    Science
4          5    Male   18                 19           74.87  2.31  Education

In [8]:
#Info about the data
print("DataFrame Information:\n")
df.info()

DataFrame Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          500 non-null    int64
 1   Gender             500 non-null    object
 2   Age                500 non-null    int64
 3   StudyHoursPerWeek  500 non-null    int64
 4   AttendanceRate     500 non-null    float64
 5   GPA                500 non-null    float64
 6   Major              500 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 27.5+ KB

In [9]:
# variables summary of data
print("Statistical Summary:\n")
df.describe()

Statistical Summary:

        StudentID         Age  StudyHoursPerWeek  AttendanceRate        GPA
count  500.000000  500.000000         500.000000      500.000000  500.00000
mean   250.500000   20.956000          19.876000       74.990380    2.98516
std    144.481833    2.000517          11.471347       14.565917    0.56362
min      1.000000   18.000000           1.000000       50.010000    2.00000
25%    125.750000   19.000000          10.000000       62.607500    2.48750
50%    250.500000   21.000000          20.500000       75.730000    3.00000
75%    375.250000   23.000000          30.000000       87.220000    3.48000
max    500.000000   24.000000          39.000000       99.970000    3.99000

In [10]:
#Shape of the data
print(f'Number of rows: {df.shape[0]}')
print(f'Number of cols: {df.shape[1]}')

Number of rows: 500
Number of cols: 7

In [11]:
#Checking for duplicates on rows 
print(df.duplicated().any()) 
print(df.duplicated().sum())

False
0

In [15]:
df = df.drop_duplicates()

In [16]:
#Checking for the null values
df.isna().values.any()

np.False_

In [17]:
 df.isnull().sum()

StudentID              0
Gender                 0
Age                    0
StudyHoursPerWeek      0
AttendanceRate         0
GPA                    0
Major                  0
PerformanceCategory    0
dtype: int64

In [13]:
df.dtypes

StudentID              int64
Gender                object
Age                    int64
StudyHoursPerWeek      int64
AttendanceRate       float64
GPA                  float64
Major                 object
dtype: object

In [14]:
# categorize performance ( High/Medium/Low)
def categorize_performance(gpa):
    if gpa >= 3.5:
        return "High"
    elif gpa >= 2.0:
        return "Medium"
    else:
        return "Low"

df["PerformanceCategory"] = df["GPA"].apply(categorize_performance)

df.to_csv("student_data_with_performance.csv", index=False)

df.head(10)

,StudentID,Gender,Age,StudyHoursPerWeek,AttendanceRate,GPA,Major,PerformanceCategory
0,1,Male,24,37,90.75,3.47,Arts,Medium
1,2,Female,22,37,74.90,2.32,Education,Medium
2,3,Male,22,10,53.36,2.38,Business,Medium
3,4,Male,24,10,70.26,3.46,Science,Medium
4,5,Male,18,19,74.87,2.31,Education,Medium
5,6,Female,20,17,86.01,2.47,Business,Medium
6,7,Male,19,21,55.33,3.93,Arts,High
7,8,Male,18,14,57.00,2.51,Education,Medium
8,9,Male,19,9,63.18,3.32,Business,Medium
9,10,Female,24,1,63.32,3.96,Engineering,High